* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

header {
    padding: 1rem;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.678);
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    padding: 1rem;
    width: 70%;
}

.main-card {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}

.main-card h1 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 1rem 0.8rem 0.4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #8B5CF6;
}

.input-group input::placeholder {
    color: transparent;
}

.input-group label {
    position: absolute;
    top: 1rem;
    left: 0.8rem;
    background: #fff;
    padding: 0 4px;
    color: #777;
    font-size: 1rem;
    pointer-events: none;
    transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    transform: translateY(-1.4rem) scale(0.85);
    color: #8B5CF6;
    font-size: 0.85rem;
}

.btn {
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 25px;
    background: #8B5CF6;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #3B82F6;
}


.switch {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
    color: #555;
}

.switch a {
    color: #14B8A6;
    text-decoration: none;
}

.switch a:hover {
    text-decoration: underline;
}

/* toggle */
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #8B5CF6;
    font-size: 1rem;
    padding: 5px;
    z-index: 10;
}

@media (max-width: 480px) {
    .main-card {
        padding: 1.5rem;
    }

    .main-card h1 {
        font-size: 1.3rem;
    }
}